body{
	background: url("../images/main-bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#content {
    margin: 0 auto;
    width: 1200px;
    height: 550px;
    border: 1px solid black;
    margin-top: none;
}