*{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}

body{
background: url("../images/main-bg.jpg");
background-attachment: fixed;
background-size: cover;
webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
/*Main Align Start*/
#main{
width: 1200px;
height: 550px;
margin: 0 auto;
border: solid yellow 1px;
}
/*Main Align End*/

/*Info Bar Start*/
#infoBar{
width: 1200px;
background: #363f48;
height: auto;
}

#infoBarAlign{
height: 42px;
margin: 0 auto;
width: 1000px;
}

.infoLeft{
float: left;
margin: 8px 0 0 0;
}

.vk_link{
float: left;
display: block;
height: 24px;
width: 25px;
background: url("../images/sprites_link.png");
margin-right: 6px;
}

.g_link{
float: right;
display: block;
height: 24px;
width: 25px;
background: url("../images/sprites_link.png") -25px;
}

.infoRight{
float: right;
margin: 8px 0 0 0;
}

.number{
float: left;
}

.callMe{
float: right;
border-radius: 4px;
background-color: rgb(78, 179, 51);
padding: 3px 19px 3px 19px;
color: #FFF;
text-decoration: none;
font-size: 13px;
}

.callMe img{
margin-right: 7px;
}

.callMe:hover{
background: #40912b;
}

.number{
color: #FFF;
font-size: 15px;
margin-right: 22px;
margin-top: 3px;
}
/*Info Bar End*/

/*Main Navigation Start*/
#nav{
height: auto;
background: #FFF;
}

.navAlign{
height: 125px;
margin: 0 auto;
width: 1000px;
border: solid black 1px;
}
/*Main Navigation End*/